.tasks-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 32rem;
    height: 3.5rem;
    max-height: 10rem;
    margin: 0 0 8px 0;
    border-radius: 4px;
    background-color: white;
    border-left: 8px solid black;
}

.tasks-display {
    display: flex;
    align-items: center;
}

.tasks-text {
    margin-left: 0.5rem;
    font-weight: bold;
    opacity: 0.8;
}

.tasks-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid rgb(223, 223, 223);
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    cursor: pointer;
}

.tasks-box-img__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid rgb(217, 85, 80);
    background-color: rgb(217, 85, 80);
    border-radius: 50%;
    cursor: pointer;
}

.tasks-display-img {
    margin-left: 3px;
}

.tasks-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    cursor: pointer;
}

.tasks-button:hover {
    background-color: rgb(206, 206, 206);
}