.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.um {
    margin: 10px;
    opacity: 0.4;
    color: white;
}

.focus {
    color: white;
    font-size: 17px;
}

.task-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 32rem;
    margin: 8px 0 8px 0;
}

.span-task {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.button-task {
    justify-content: center;
    display: flex;
    background: none rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 13px;
    padding: 8px;
    opacity: 0.9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.img-task {
    display: flex;
    margin-left: 2px;
}

.addTask-main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 32rem;
    height: 4rem;
    background: none rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0.8;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.addTask-img {
    margin-right: 8px;
}

.addTask-text {
    color: white;
    opacity: 0.8;
    font-weight: bold;
    margin-top: 2px;
}